# Katalog z danymi wyjściowymi
/output/

# Katalog z logami
/logs/

# Pliki środowiskowe i konfiguracyjne
.env
*.env.local
*.env.*.local

# Pliki IDE
.idea/
.vscode/
*.swp
*.swo

# Pliki Pythona
__pycache__/
*.py[cod]
*$py.class

# Pliki instalacyjne i dystrybucyjne
*.egg-info/
*.egg
dist/
build/
pip-log.txt

# Cache i pliki tymczasowe
*.tmp
*.bak
*.cache

# Pliki specyficzne dla systemu
.DS_Store
Thumbs.db